{% extends "../detailpage.html" %}
{% load staticfiles %}

{% block semi_title %}
레가토
{% endblock %}

{% block sub_title %}
흉터/모공/튼살
{% endblock %}

{% block main %}
	<img src="{% static 'img/scar/legato1.jpg' %}" class="img-responsive minmax">
{% endblock %}

{% block mainsm %}
	<img src="{% static 'img/scar/legato1s.jpg' %}" class="img-responsive">
{% endblock %}


{% block detail %}
	<img src="{% static 'img/scar/legato2.jpg' %}" class="img-responsive minmax">
{% endblock %}

{% block detailsm %}
	<img src="{% static 'img/scar/legato2s.jpg' %}" class="img-responsive">
{% endblock %}
