{% extends "../detailpage.html" %}
{% load staticfiles %}

{% block semi_title %}
테라필
{% endblock %}

{% block sub_title %}
HOME > 흉터/모공/튼살 > 테라필
{% endblock %}

{% block main %}
	<img src="{% static 'img/scar/tera1.jpg' %}" class="img-responsive minmax">
{% endblock %}

{% block mainsm %}
	<img src="{% static 'img/scar/tera1s.jpg' %}" class="img-responsive">
{% endblock %}


{% block detail %}
	<img src="{% static 'img/scar/tera2.jpg' %}" class="img-responsive minmax">
{% endblock %}

{% block detailsm %}
	<img src="{% static 'img/scar/tera2s.jpg' %}" class="img-responsive">
{% endblock %}
