{% extends "../detailpage.html" %}
{% load staticfiles %}

{% block semi_title %}
테라필
{% endblock %}

{% block sub_title %}
HOME > 흉터/모공/튼살 > 테라필
{% endblock %}

{% block main %}
	<img src="{% static 'img/scar/tera1.jpg' %}" class="img-responsive content-border1 paddingtop60">
{% endblock %}

{% block mainsm %}
	<img src="{% static 'img/scar/tera1s.jpg' %}" class="img-responsive content-border1 paddingtop30-xs">
{% endblock %}


{% block detail %}
	<img src="{% static 'img/scar/tera2.jpg' %}" class="img-responsive content-border2">
{% endblock %}

{% block detailsm %}
	<img src="{% static 'img/scar/tera2s.jpg' %}" class="img-responsive content-border2 paddingtop20-xs">
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$(document).ready(function(){
		activelist('#scar3', '#scar')
	});
</script>
{% endblock javascript %}
