{% load staticfiles %}

<footer>
	<div class="container-fluid no-padding">
		<div class="row">
			<div class="col-xs-42 no-padding bgcolorblk">
			<ul>
				<li class="col-md-8"><img src="{% static 'img/footer_1.png' %}" class="img-responsive minmax"></li>
				<li class="col-md-8"><img src="{% static 'img/footer_2.png' %}" class="img-responsive minmax"></li>
				<li class="col-md-8"><a href="#"><img src="{% static 'img/footer_3.png' %}" class="img-responsive minmax"></a></li>
				<li class="col-md-8"><a href="#"><img src="{% static 'img/footer_4.png' %}" class="img-responsive minmax"></a></li>
				<li class="col-md-10"><img src="{% static 'img/footer_5.png' %}" class="img-responsive minmax"></li>
			</ul>
			</div>
		</div>
	</div>


</footer>
