{% load staticfiles %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-5">
			<nav class="navbar navbar-default navbar-fixed-side">
				<div class="container-fluid">
					<div class="navbar-header" style="text-align: center;">
						<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" style="float: left; width: 40px;padding: 0; border: none; margin: 7px;">
							<span class="sr-only">Toggle navigation</span>
							<img src="{% static 'img/icon-bar.png' %}" class="img-responsive">
						</button>
						<div style="text-align: center;margin: 0 auto;display: inline-block;">
							<a href="./" class="navbar-brand no-padding">
								<img src="{% static 'img/logo.png' %}" style="width:140px; height:auto;">
							</a>
						</div>
						<a href="tel:82+3027675" style="float: right; width: 40px; margin: 7px;">
							<img src="{% static 'img/tel-icon.png' %}" class="img-responsive hidden-md hidden-lg">
						</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="">
								<a href="./" id="intro">병원 소개<span style="float: right">></span></a>
							</li>
							<li class="">
								<a href="./" id="whitening">기미/잡티/화이트닝</a>
							</li>
							<li class="">
								<a href="./" id="peeling">필링/재생</a>
							</li>
							<li class="">
								<a href="./" id="scar">흉터/모공/튼살치료</a>
							</li>
							<li class="">
								<a href="./" id="botox">필러/보톡스</a>
							</li>
							<li class="">
								<a href="./" id="young">쁘띠/동안시술</a>
							</li>
							<li class="">
								<a href="./" id="lifting">윤곽/리프팅</a>
							</li>
							<li class="">
								<a href="./" id="pimple">여드름</a>
							</li>
							<li class="">
								<a href="./" id="fat">비만/체형관리</a>
							</li>
							<li class="">
								<a href="./" id="community">커뮤니티</a>
							</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
