{% load staticfiles %}
<div class="left-navbar nav-side-menu">
	<div style="text-align: center;">
		<button class="navbar-toggle" data-target="#menu-content" data-toggle="collapse" style="float: left; width: 30px;padding: 0; border: none; margin: 12px;">
			<span class="sr-only">Menu</span>
			<img src="{% static 'img/icon-bar.png' %}" class="img-responsive">
		</button>
		<div style="display: inline-block;">
			<a href="{% url 'main:main' %}" class="brand no-padding">
				<img src="{% static 'img/logo.png' %}" class="img-responsive">
			</a>
		</div>
		<a href="tel:82+3027675" style="float: right; width: 30px; margin: 10px;" class=" hidden-md hidden-lg">
			<img src="{% static 'img/tel-icon.png' %}" class="img-responsive">
		</a>
	</div>
	<div class="menu-list">

		<ul id="menu-content" class="menu-content collapse out">

			<li data-toggle="collapse" class="collapsed hidden-sm hidden-xs" style="display: none;">
				<a href="javascript:void(0)">병원 소개</a>
			</li>


			<li data-toggle="collapse" data-target="#intro" class="collapsed">
				<a href="#">병원소개<span class="caret"></span></a>
			</li>
			<ul class="sub-menu collapse" id="intro">
				<li id="intro1"><a href="{% url 'main:intro' %}">수클리닉 소개</a></li>
				<li id="intro2"><a href="{% url 'main:doctor' %}">의료진 소개</a></li>
				<li id="intro3"><a href="{% url 'main:clinic' %}">병원 둘러보기</a></li>
				<li id="intro4"><a href="{% url 'main:map' %}">오시는 길</a></li>
			</ul>

			<li data-toggle="collapse" data-target="#whitening" class="collapsed">
				<a href="#">화이트닝 / 기미 / 잡티<span class="caret"></span></a>
			</li>
			<ul class="sub-menu collapse" id="whitening">
				<li id="whitening1"><a href="{% url 'main:laser' %}">레이저 토닝</a></li>
				<li id="whitening2"><a href="{% url 'main:whitening' %}">미백 레가토</a></li>
				<li id="whitening3"><a href="{% url 'main:targeting' %}">타겟팅</a></li>
				<li id="whitening4"><a href="{% url 'main:jade' %}">백옥주사</a></li>
			</ul>

			<li data-toggle="collapse" data-target="#peeling" class="collapsed">
				<a href="#">필링 / 재생<span class="caret"></span></a>
			</li>
			<ul class="sub-menu collapse" id="peeling">
				<li id="peeling1"><a href="{% url 'main:spectra' %}">스펙트라필</a></li>
				<li id="peeling2"><a href="{% url 'main:aqua' %}">아쿠아필</a></li>
				<li id="peeling3"><a href="{% url 'main:celebrity' %}">연예인필</a></li>
				<li id="peeling4"><a href="{% url 'main:latte' %}">라떼필</a></li>
			</ul>

			<li data-toggle="collapse" data-target="#scar" class="collapsed">
				<a href="#">흉터 / 모공 / 튼살치료<span class="caret"></span></a>
			</li>
			<ul class="sub-menu collapse" id="scar">
				<li id="scar1"><a href="{% url 'main:legato' %}">레가토</a></li>
				<li id="scar2"><a href="{% url 'main:prp' %}">PRP(자가혈)</a></li>
				<li id="scar3"><a href="{% url 'main:tera' %}">테라필</a></li>
			</ul>

			<li data-toggle="collapse" data-target="#botox" class="collapsed">
				<a href="#">필러 / 보톡스<span class="caret"></span></a>
			</li>
			<ul class="sub-menu collapse" id="botox">
				<li id="botox1"><a href="{% url 'main:filler' %}">필러</a></li>
				<li id="botox2"><a href="{% url 'main:botox' %}">보톡스</a></li>
			</ul>

			<li data-toggle="collapse" data-target="#young" class="collapsed">
				<a href="#">쁘띠 / 동안시술<span class="caret"></span></a>
			</li>
			<ul class="sub-menu collapse" id="young">
				<li id="young1"><a href="{% url 'main:darkcircle' %}">다크서클 주사</a></li>
				<li id="young2"><a href="{% url 'main:kotppol' %}">콧볼축소</a></li>
				<li id="young3"><a href="{% url 'main:highnose' %}">하이코</a></li>
				<li id="young4"><a href="{% url 'main:dermotoxin' %}">더마톡신</a></li>
				<li id="young5"><a href="{% url 'main:witch' %}">마녀주사</a></li>
			</ul>

			<li data-toggle="collapse" data-target="#lifting" class="collapsed">
				<a href="#">윤곽 / 리프팅<span class="caret"></span></a>
			</li>
			<ul class="sub-menu collapse" id="lifting">
				<li id="lifting1"><a href="{% url 'main:doublero' %}">더블로-S</a></li>
				<li id="lifting2"><a href="{% url 'main:thread' %}">실 리프팅</a></li>
				<li id="lifting3"><a href="{% url 'main:bigeyes' %}">왕눈이 리프팅</a></li>
				<li id="lifting4"><a href="{% url 'main:contour' %}">윤곽주사</a></li>
			</ul>

			<li data-toggle="collapse" data-target="#pimple" class="collapsed">
				<a href="#">여드름<span class="caret"></span></a>
			</li>
			<ul class="sub-menu collapse" id="pimple">
				<li id="pimple1"><a href="{% url 'main:pimple' %}">여드름</a></li>
			</ul>

			<li data-toggle="collapse" data-target="#fat" class="collapsed">
				<a href="#">비만 / 체형관리<span class="caret"></span></a>
			</li>
			<ul class="sub-menu collapse" id="fat">
				<li id="fat1"><a href="{% url 'main:coolshaping' %}">쿨쉐이핑</a></li>
				<li id="fat2"><a href="{% url 'main:lipolysis' %}">지방분해 주사</a></li>
				<li id="fat3"><a href="{% url 'main:mesotherapie' %}">파워 메조테라피</a></li>
				<li id="fat4"><a href="{% url 'main:carboxy' %}">카복시</a></li>
				<li id="fat5"><a href="{% url 'main:slim' %}">슬림주사</a></li>
				<li id="fat6"><a href="{% url 'main:hpl' %}">HPL</a></li>
				<li id="fat7"><a href="{% url 'main:highfrequency' %}">고주파</a></li>
				<li id="fat8"><a href="{% url 'main:cinderella' %}">신데렐라 주사</a></li>
			</ul>

			<li data-toggle="collapse" data-target="#community" class="collapsed">
				<a href="#">커뮤니티<span class="caret"></span></a>
			</li>
			<ul class="sub-menu collapse" id="community">
				<li id="community1"><a href="{% url 'blog:counsel_list' %}">온라인 상담</a></li>
				<li id="community2"><a href="{% url 'blog:beforeafter_list' %}">전후 사진</a></li>
				<li id="community3"><a href="{% url 'blog:notice_list' %}">공지/이벤트</a></li>
				<li id="community4"><a href="{% url 'blog:review_list' %}">고객후기</a></li>
			</ul>

		</ul>
	</div>
</div>
