{% extends "../detailpage.html" %}
{% load staticfiles %}

{% block semi_title %}
보톡스
{% endblock %}

{% block sub_title %}
HOME > 보톡스/필러 > 보톡스
{% endblock %}

{% block main %}
	<img src="{% static 'img/botox/botox1.jpg' %}" class="img-responsive content-border1 paddingtop60">
{% endblock %}

{% block mainsm %}
	<img src="{% static 'img/botox/botox1s.jpg' %}" class="img-responsive content-border1 paddingtop30-xs">
{% endblock %}


{% block detail %}
	<img src="{% static 'img/botox/botox2.jpg' %}" class="img-responsive content-border2">
{% endblock %}

{% block detailsm %}
	<img src="{% static 'img/botox/botox2s.jpg' %}" class="img-responsive content-border2 paddingtop20-xs">
{% endblock %}
