{% extends "../detailpage.html" %}
{% load staticfiles %}

{% block semi_title %}
필러
{% endblock %}

{% block sub_title %}
HOME > 보톡스/필러 > 필러
{% endblock %}

{% block main %}
	<img src="{% static 'img/botox/filler1.jpg' %}" class="img-responsive content-border1 paddingtop60">
{% endblock %}

{% block mainsm %}
	<img src="{% static 'img/botox/filler1s.jpg' %}" class="img-responsive content-border1 paddingtop30-xs">
{% endblock %}


{% block detail %}
	<img src="{% static 'img/botox/filler2.jpg' %}" class="img-responsive content-border2">
{% endblock %}

{% block detailsm %}
	<img src="{% static 'img/botox/filler2s.jpg' %}" class="img-responsive content-border2 paddingtop20-xs">
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$(document).ready(function(){
		activelist('#botox1', '#botox')
	});
</script>
{% endblock javascript %}
