{% extends "../detailpage.html" %}
{% load staticfiles %}

{% block semi_title %}
백옥 주사
{% endblock %}

{% block sub_title %}
기미/잡티/화이트닝
{% endblock %}

{% block main %}
	<img src="{% static 'img/whitening/jade1.jpg' %}" class="img-responsive">
{% endblock %}

{% block mainsm %}
	<img src="{% static 'img/whitening/jade1s.jpg' %}" class="img-responsive">
{% endblock %}


{% block detail %}
	<img src="{% static 'img/whitening/jade2.jpg' %}" class="img-responsive">
{% endblock %}

{% block detailsm %}
	<img src="{% static 'img/whitening/jade2s.jpg' %}" class="img-responsive">
{% endblock %}
