{% extends "../detailpage.html" %}
{% load staticfiles %}

{% block semi_title %}
레이저 토닝
{% endblock %}

{% block sub_title %}
기미/잡티/화이트닝
{% endblock %}

{% block main %}
	<img src="{% static 'img/whitening/laser1.jpg' %}" class="img-responsive content-border1 paddingtop60">
{% endblock %}

{% block mainsm %}
	<img src="{% static 'img/whitening/laser1s.jpg' %}" class="img-responsive content-border1 paddingtop30-xs">
{% endblock %}

{% block detail %}
	<img src="{% static 'img/whitening/laser2.jpg' %}" class="img-responsive content-border2">
{% endblock %}

{% block detailsm %}
	<img src="{% static 'img/whitening/laser2s.jpg' %}" class="img-responsive content-border2 paddingtop20-xs">
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$(document).ready(function(){
		activelist('#whitening1', '#whitening')
	});
</script>
{% endblock javascript %}
