{% extends "../detailpage.html" %}
{% load staticfiles %}

{% block semi_title %}
타겟팅
{% endblock %}

{% block main %}
	<img src="{% static 'img/whitening/targeting1.jpg' %}" class="img-responsive">
{% endblock %}

{% block mainsm %}
	<img src="{% static 'img/whitening/targeting1s.jpg' %}" class="img-responsive">
{% endblock %}

{% block detail %}
	<img src="{% static 'img/whitening/targeting2.jpg' %}" class="img-responsive">
{% endblock %}

{% block detailsm %}
	<img src="{% static 'img/whitening/targeting2s.jpg' %}" class="img-responsive">
{% endblock %}
