{% extends "../detailpage.html" %}
{% load staticfiles %}

{% block semi_title %}
미백 레가토
{% endblock %}

{% block sub_title %}
기미/잡티/화이트닝
{% endblock %}

{% block main %}
	<img src="{% static 'img/whitening/legato1.jpeg' %}" class="img-responsive img-responsive content-border1 paddingtop60">
{% endblock %}

{% block mainsm %}
	<img src="{% static 'img/whitening/legato1s.jpeg' %}" class="img-responsive content-border1 paddingtop30-xs">
{% endblock %}

{% block detail %}
	<img src="{% static 'img/whitening/legato2.jpeg' %}" class="img-responsive content-border2">
{% endblock %}

{% block detailsm %}
	<img src="{% static 'img/whitening/legato2s.jpeg' %}" class="img-responsive content-border2 paddingtop20-xs">
{% endblock %}
