@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
.nav-side-menu {
  overflow: auto;
  font-family: "Noto Sans KR", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 200;
  background-color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  color: #1b1c1d;
  /* 화면 크기 1872 이상 일때, 고해상도 노트북 이상 일 때 설정*/ }
  @media screen and (min-width: 992px) {
    .nav-side-menu {
      width: 10.5%; } }
  @media screen and (max-width: 991px) {
    .nav-side-menu ul > li {
      padding-left: 10px; } }
  .nav-side-menu .sub-menu li {
    padding-left: 20px; }
  .nav-side-menu .caret {
    float: right;
    margin-right: 7px;
    margin-top: 15px; }

.nav-side-menu .brand {
  background-color: white;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
  /* 화면 크기 1872 이상 일때, 고해상도 노트북 이상 일 때 설정*/ }
  @media screen and (min-width: 992px) {
    .nav-side-menu .brand {
      margin-top: 20px;
      margin-bottom: 10px; } }

.nav-side-menu .toggle-btn {
  display: none; }

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/ }

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right; }

.nav-side-menu ul .active,
.nav-side-menu li .active {
  background-color: #4f5b69; }

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d; }

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d; }

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: white;
  border: none;
  line-height: 28px;
  border-bottom: 0px solid #e9eaeb;
  margin-left: 0px; }

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: white; }

.nav-side-menu li {
  padding-left: 0px;
  border-bottom: 1px solid lightgray; }

.nav-side-menu li a {
  text-decoration: none;
  color: #1b1c1d; }

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px; }

.nav-side-menu li:hover {
  background-color: white;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; }

@media (max-width: 991px) {
  .nav-side-menu {
    position: relative;
    margin-bottom: 10px; }
    .nav-side-menu .brand {
      margin-bottom: 0px; }

  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: white;
    color: #000;
    width: 40px;
    text-align: center; }

  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
    width: 120px; } }
@media (min-width: 991px) {
  .nav-side-menu .menu-list .menu-content {
    display: block; } }
body {
  margin: 0px;
  padding: 0px; }

/* 화면 크기 1872 이상 일때, 고해상도 노트북 이상 일 때 설정*/
@media screen and (min-width: 992px) {
  .menu-list li {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    padding-left: 0; } }
.menu-list ul a {
  font-size: 10pt; }

html, body {
  width: 100%; }

/* no padding */
.no-padding {
  padding: 0; }

.no-padding-l {
  padding: 0; }

.no-padding-r {
  padding: 0; }

.no-padding-lr {
  padding: 0; }

.no-padding-t {
  padding: 0; }

.no-padding-b {
  padding: 0; }

.no-padding-tb {
  padding: 0; }

@media (max-width: 767px) {
  .no-padding-xs {
    padding-left: 0px;
    padding-right: 0px; } }

/* marig top */
.margintop20 {
  margin-top: 30px; }

.margintop30 {
  margin-top: 30px; }

.margintop50 {
  margin-top: 50px; }

.margintop60 {
  margin-top: 60px; }

.margintop80 {
  margin-top: 80px; }

/* margin bottom */
.marginbottom30 {
  margin-bottom: 30px; }

.marginbottom60 {
  margin-bottom: 60px; }

.marginbottom80 {
  margin-bottom: 80px; }

.marginauto {
  margin-left: auto;
  margin-right: auto; }

/* pading top */
.paddingtop30 {
  padding-top: 30px; }

.paddingtop40 {
  padding-top: 40px; }

.paddingtop50 {
  padding-top: 50px; }

.paddingtop60 {
  padding-top: 60px; }

/* padding bottom */
.paddingbottom30 {
  padding-bottom: 30px; }

.paddingbottom40 {
  padding-bottom: 40px; }

.paddingbottom50 {
  padding-bottom: 50px; }

.paddingbottom60 {
  padding-bottom: 60px; }

/* margin and padding when it is xs */
@media (max-width: 767px) {
  .margintop30, .margintop50, .margintop60, .margintop80 {
    margin-top: 0px; }

  .margintop50-xs {
    margin-top: 20px; }

  .margintop30-xs {
    margin-top: 30px; }

  .margintop40-xs {
    margin-top: 40px; }

  .margintop20-xs {
    margin-top: 20px; }

  .margintop10-xs {
    margin-top: 10px; }

  .marginbottom30 {
    margin-bottom: 0px; }

  .marginbottom20-xs {
    margin-bottom: 20px; }

  .paddingtop30, .paddingtop40, .paddingtop50, .paddingtop60 {
    padding-top: 0px; }

  .paddingbottom30, .paddingbottom40, .paddingbottom50, .paddingbottom60 {
    padding-bottom: 0px; }

  .paddingtop30-xs {
    padding-top: 30px; }

  .paddingtop20-xs {
    padding-top: 20px; }

  .paddingtop10-xs {
    padding-top: 10px; }

  .paddingbottom30-xs {
    padding-bottom: 30px; }

  .paddingbottom20-xs {
    padding-bottom: 20px; }

  .paddingbottom10-xs {
    padding-bottom: 10px; } }
.col-centered {
  float: none;
  margin: 0 auto; }

.img-responsive.minmax {
  min-width: 100%;
  position: relative;
  min-height: 1px; }

.bgcolorblk {
  background-color: #565656; }

.content-title {
  text-align: center;
  /* 화면 크기 1872 이상 일때, 고해상도 노트북 이상 일 때 설정*/ }
  .content-title .semi_title {
    font-size: 35pt; }
  .content-title .sub_title {
    font-size: 13pt; }
  @media screen and (max-width: 480px) {
    .content-title .semi_title {
      font-size: 23pt; }
    .content-title .sub_title {
      font-size: 9pt; } }

.content-border {
  border-top: 1px solid black;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray; }

.content-border1 {
  border-top: 3px solid black;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray; }

.content-border2 {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray; }

.main div {
  padding: 0px; }
.main img {
  padding: 0px; }

footer ul {
  padding: 0px;
  list-style-type: none;
  display: inline; }

.left-navbar {
  min-height: 1px;
  float: left; }

.base-center {
  position: relative;
  min-height: 1px;
  width: 100%;
  float: left;
  /* 화면 크기 1872 이상 일때, 고해상도 노트북 이상 일 때 설정*/ }
  @media screen and (min-width: 992px) {
    .base-center {
      margin-left: 10.5%;
      width: 86%; } }

.right-navbar {
  position: relative;
  min-height: 1px;
  width: 3.5%;
  float: left; }

footer .footer_nav > li > a {
  font-size: 6pt;
  position: relative;
  display: block;
  color: #fefefe;
  padding: 10px 0px;
  text-decoration: none; }
footer .footer_nav {
  list-style: none;
  display: inline-block;
  float: none;
  margin: 0px; }
  footer .footer_nav li {
    float: left;
    position: relative;
    display: block; }
footer .vertical-bar {
  margin-top: 1px;
  vertical-align: top;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  width: 1px;
  background-color: #fefefe;
  height: 8px; }

.img-responsive {
  margin: 0 auto; }

@media screen and (min-width: 768px) {
  .md69 {
    width: 69.37%; }

  .md30 {
    width: 30.63%; } }
.navbar-default {
  background-color: white; }

.navbar-fixed-side .caret {
  float: right;
  margin-top: 8px; }
@media (max-width: 992px) {
  .navbar-fixed-side {
    margin-left: -15px;
    margin-right: -15px; } }
@media (min-width: 992px) {
  .navbar-fixed-side {
    position: fixed;
    height: 100%;
    width: inherit;
    overflow: auto;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0; }
    .navbar-fixed-side .container, .navbar-fixed-side .container-fluid {
      width: auto;
      padding-left: 0;
      padding-right: 0; }
    .navbar-fixed-side .navbar-header {
      float: none; }
    .navbar-fixed-side .navbar-brand {
      height: auto; }
    .navbar-fixed-side > .container .navbar-brand, .navbar-fixed-side > .container-fluid .navbar-brand {
      margin-left: 0; }
    .navbar-fixed-side .navbar-collapse {
      width: 100%;
      border-top: 1px solid #e7e7e7; }
    .navbar-fixed-side .navbar-nav {
      float: none;
      margin: 0 -15px; }
      .navbar-fixed-side .navbar-nav > li {
        float: none; }
        .navbar-fixed-side .navbar-nav > li > a {
          padding-top: 15px;
          padding-bottom: 15px;
          border-bottom: 1px solid #e7e7e7; }
    .navbar-fixed-side .navbar-form {
      margin: 0;
      margin-left: -15px;
      margin-right: -15px;
      padding: 10px 15px;
      border-bottom: 1px solid #e7e7e7; }
    .navbar-fixed-side .navbar-text {
      float: none;
      margin-left: 0;
      margin-right: 0; }
    .navbar-fixed-side .navbar-left,
    .navbar-fixed-side .navbar-right {
      float: none !important; }
    .navbar-fixed-side .navbar-nav .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;
      border-bottom: 1px solid #e7e7e7; }
      .navbar-fixed-side .navbar-nav .dropdown-menu > li > a,
      .navbar-fixed-side .navbar-nav .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px; }
      .navbar-fixed-side .navbar-nav .dropdown-menu > li > a {
        line-height: 20px;
        color: #777; }
        .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:hover, .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:focus {
          background-image: none; }
      .navbar-fixed-side .navbar-nav .dropdown-menu > .active > a {
        background-color: #e7e7e7;
        color: #555; }
    .navbar-fixed-side .navbar-nav > li > a:hover, .navbar-fixed-side .navbar-nav > li > a:focus,
    .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:hover,
    .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:focus {
      background-color: #f0f0f0;
      color: #333; }
    .navbar-fixed-side .dropdown > .dropdown-toggle,
    .navbar-fixed-side .dropdown-menu > .dropdown-header {
      background-color: transparent !important;
      color: #9d9d9d !important;
      cursor: default;
      font-size: 0.8em;
      text-transform: uppercase;
      border-bottom: none;
      padding-bottom: 0; }
    .navbar-fixed-side .dropdown-toggle .caret {
      display: none; }
    .navbar-fixed-side .dropdown-menu {
      display: block; }
    .navbar-fixed-side.navbar-inverse .navbar-collapse,
    .navbar-fixed-side.navbar-inverse .navbar-nav > li > a,
    .navbar-fixed-side.navbar-inverse .navbar-form,
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu {
      border-color: #363636; }
    .navbar-fixed-side.navbar-inverse .divider {
      background-color: #363636; }
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > li > a {
      color: #9d9d9d; }
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > .active > a {
      background-color: #090909;
      color: #fff; }
    .navbar-fixed-side.navbar-inverse .navbar-nav > li:not(.active) > a:hover, .navbar-fixed-side.navbar-inverse .navbar-nav > li:not(.active) > a:focus,
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > li:not(.active) > a:hover,
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > li:not(.active) > a:focus {
      background-color: #2f2f2f;
      color: #fff; }
    .navbar-fixed-side.navbar-inverse .dropdown > .dropdown-toggle {
      color: #777777 !important; } }
.navbar-fixed-side.right-side {
  background-color: black; }
  @media (min-width: 992px) {
    .navbar-fixed-side.right-side .navbar-nav > li > a {
      padding-left: 0px;
      padding-right: 0px;
      border-bottom: 1px solid gray; } }

/*# sourceMappingURL=style.css.map */
