django==1.10.5
Pillow
django-hitcount
django-ckeditor
django-uploader
django-bootstrap3
django-allauth
git+https://github.com/mariocesar/sorl-thumbnail.git
git+https://github.com/defcube/django-unique-slugify.git
