{% extends "../account_base.html" %}
{% block css %}
<style>
.errorlist li ul{
    color : red;
}
.error_msg{
    color:red;
}
.signup_form{
    width : 380px;
    margin : 0 auto;
}
.signup_form div{
    text-align: center;
    padding:1px;
    margin: 5%;
}
.form_label{
		width:100px;
		float:left;
    border-radius: 5px;
    padding:1.5%;
    color : white;
    background-color: lightgray;
}

input[type=submit] {
    color:white;
    padding:5px 15px;
    background:lightgray;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
@media screen and (max-width: 767px){
	.signup_form{
    width : 180px;
    margin : 0 auto;
}
	h4{
		font-size:13pt;
	}
	.form_label{
		margin-bottom:5px;
	}
}
</style>
{% endblock %}

{% block semi_title %}
회원가입
{% endblock %}

{% block sub_title %}
HOME > 회원가입
{% endblock %}

{% block form_content %}
    <div id = "content" class="signup_form">

        <form method="post" action=".">
        {% csrf_token %}
            <fieldset class="margintop20" style="border-top:3px solid black;">
            {% if form.errors %}
                {% for field in form %}
                    {% if field.errors %}
                        {{ field.label }}을(를) 다시 입력해주십시오.<br/>
                        {% for error in field.errors %}
                            <span class="error_msg">{{ error }}</span><br/>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            <br/>
                <div class="form-row" >
                    <!-- {{form.username.label_tag}} {{form.username}} -->
                    <span class="form_label">회원 ID</span> {{form.username}}
                </div>
                <div class="form-row"><!--
                    {{form.first_name.label_tag}} {{form.first_name}} -->
                    <span class="form_label">이름</span> {{form.first_name}}
                </div>
								<div class="form-row">
                    <!-- {{form.password2.label_tag}} {{form.password2}} -->
                    <span class="form_label">이메일 주소</span> {{form.email}}
                </div>
                <div class="form-row">
                    <!-- {{form.password1.label_tag}} {{form.password1}} -->
                    <span class="form_label">비밀번호</span> {{form.password1}}
                </div>
                <div class="form-row">
                    <!-- {{form.password2.label_tag}} {{form.password2}} -->
                    <span class="form_label">비밀번호 확인</span> {{form.password2}}
                </div>

            </fieldset>
            <br/>
            <br/>
            <div class="submit-row">
                <input type="submit" value="Register"/>
            </div>
        </form>
    </div>
{% endblock %}
