{% extends "blog/list.html" %}
{% load staticfiles %}

{% block semi_title %}
온라인 상담
{% endblock semi_title %}

{% block sub_title %}
HOME > 커뮤니티 > 온라인 상담
{% endblock sub_title %}

{% block main %}
	<img src="{% static 'img/community/counsel.jpg' %}" class="img-responsive content-border1 paddingtop60">
{% endblock main %}

{% block mainsm %}
	<img src="{% static 'img/community/counselsm.jpg' %}" class="img-responsive content-border1 paddingtop30-xs">
{% endblock mainsm %}

{% block atag %}
	<a href="{% url 'blog:counsel_detail' pk=article.pk %}">
{% endblock atag %}


{% block create_article %}
	{% if user.is_authenticated %}
		<a href="{% url 'blog:counsel_create' %}">새 글쓰기</a>
	{% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$(document).ready(function(){
		activelist('#community1', '#community')
	});
</script>
{% endblock javascript %}
