<div class="col-sm-offset-14 col-sm-14 text-center">
	<ul class="pagination">
	{% if page_obj.has_previous %}
		<li>
			<a href="?page={{ page_obj.previous_page_number}}" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
	{% else %}
		<li class="disabled">
			<a href="javascript:void()" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
	{% endif %}
	{% for page_number in page_obj.paginator.page_range %}
		{% if page_number == page_obj.number %}
			<li class="active"><a href="?page={{page_number}}">{{page_number}}</a></li>
		{% else %}
		<li><a href="?page={{page_number}}">{{page_number}}</a></li>
		{% endif %}
	{%endfor%}
	{% if page_obj.has_next %}
		<li>
			<a href="?page={{ page_obj.next_page_number}}" aria-label="Next">
			<span aria-hidden="true">&raquo;</span>
		</a>
		</li>
	{% else %}
		<li class ="disabled">
			<a href="javascript:void()" aria-label="Next">
			<span aria-hidden="true">&raquo;</span>
		</a>
		</li>
	{% endif %}
	</ul>
</div>
