{% extends "../detailpage.html" %}
{% load staticfiles %}

{% block semi_title %}
카복시
{% endblock %}

{% block sub_title %}
HOME > 비만/체형관리 > 카복시
{% endblock %}

{% block main %}
	<img src="{% static 'img/obesity/carboxy1.jpg' %}" class="img-responsive minmax">
{% endblock %}

{% block mainsm %}
	<img src="{% static 'img/obesity/carboxy1s.jpg' %}" class="img-responsive">
{% endblock %}


{% block detail %}
	<img src="{% static 'img/obesity/carboxy2.jpg' %}" class="img-responsive minmax">
{% endblock %}

{% block detailsm %}
	<img src="{% static 'img/obesity/carboxy2s.jpg' %}" class="img-responsive">
{% endblock %}
