{% extends "../detailpage.html" %}
{% load staticfiles %}

{% block semi_title %}
쿨쉐이핑
{% endblock %}

{% block sub_title %}
HOME > 비만/체형관리 > 쿨쉐이핑
{% endblock %}

{% block main %}
	<img src="{% static 'img/obesity/coolshaping1.jpg' %}" class="img-responsive minmax">
{% endblock %}

{% block mainsm %}
	<img src="{% static 'img/obesity/coolshaping1s.jpg' %}" class="img-responsive">
{% endblock %}


{% block detail %}
	<img src="{% static 'img/obesity/coolshaping2.jpg' %}" class="img-responsive minmax">
{% endblock %}

{% block detailsm %}
	<img src="{% static 'img/obesity/coolshaping2s.jpg' %}" class="img-responsive">
{% endblock %}
