{% extends "../detailpage.html" %}
{% load staticfiles %}

{% block semi_title %}
왕눈이리프팅
{% endblock %}

{% block sub_title %}
HOME > 윤곽/리프팅 > 왕눈이리프팅
{% endblock %}

{% block main %}
	<img src="{% static 'img/contour/bigeyes1.jpeg' %}" class="img-responsive content-border1 paddingtop60">
{% endblock %}

{% block mainsm %}
	<img src="{% static 'img/contour/bigeyes1s.jpg' %}" class="img-responsive content-border1 paddingtop30-xs">
{% endblock %}


{% block detail %}
	<img src="{% static 'img/contour/bigeyes2.jpg' %}" class="img-responsive content-border2">
{% endblock %}

{% block detailsm %}
	<img src="{% static 'img/contour/bigeyes2s.jpg' %}" class="img-responsive content-border2 paddingtop20-xs">
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$(document).ready(function(){
		activelist('#lifting3', '#lifting')
	});
</script>
{% endblock javascript %}
