{% extends "../detailpage.html" %}
{% load staticfiles %}

{% block semi_title %}
윤곽주사
{% endblock %}

{% block sub_title %}
HOME > 윤곽/리프팅 > 윤곽주사
{% endblock %}

{% block main %}
	<img src="{% static 'img/contour/contour1.jpg' %}" class="img-responsive minmax">
{% endblock %}

{% block mainsm %}
	<img src="{% static 'img/contour/contour1s.jpg' %}" class="img-responsive">
{% endblock %}


{% block detail %}
	<img src="{% static 'img/contour/contour2.jpg' %}" class="img-responsive minmax">
{% endblock %}

{% block detailsm %}
	<img src="{% static 'img/contour/contour2s.jpg' %}" class="img-responsive">
{% endblock %}
