{% extends "../detailpage.html" %}
{% load staticfiles %}

{% block semi_title %}
더블로-S
{% endblock %}

{% block sub_title %}
HOME > 윤곽/리프팅 > 더블로-S
{% endblock %}

{% block main %}
	<img src="{% static 'img/contour/doublero1.jpg' %}" class="img-responsive content-border1 paddingtop60">
{% endblock %}

{% block mainsm %}
	<img src="{% static 'img/contour/doublero1s.jpg' %}" class="img-responsive content-border1 paddingtop30-xs">
{% endblock %}


{% block detail %}
	<img src="{% static 'img/contour/doublero2.jpg' %}" class="img-responsive content-border2">
{% endblock %}

{% block detailsm %}
	<img src="{% static 'img/contour/doublero2s.jpg' %}" class="img-responsive content-border2 paddingtop20-xs">
{% endblock %}
