{% extends "../detailpage.html" %}
{% load staticfiles %}

{% block semi_title %}
실 리프팅
{% endblock %}

{% block sub_title %}
HOME > 윤곽/리프팅 > 실 리프팅
{% endblock %}

{% block main %}
	<img src="{% static 'img/contour/thread1.jpg' %}" class="img-responsive minmax">
{% endblock %}

{% block mainsm %}
	<img src="{% static 'img/contour/thread1s.jpg' %}" class="img-responsive">
{% endblock %}


{% block detail %}
	<img src="{% static 'img/contour/thread2.jpg' %}" class="img-responsive minmax">
{% endblock %}

{% block detailsm %}
	<img src="{% static 'img/contour/thread2s.jpg' %}" class="img-responsive">
{% endblock %}
