html, body{
	width:100%;
}
/* no padding */
.no-padding {
	padding: 0;
}

.no-padding-l {
	padding: 0;
}

.no-padding-r {
	padding: 0;
}

.no-padding-lr {
	padding: 0;
}

.no-padding-t {
	padding: 0;
}

.no-padding-b {
	padding: 0;
}

.no-padding-tb {
	padding: 0;
}

.no-padding-xs{
	@media (max-width:767px){
		padding-left:0px;
		padding-right:0px;
	}
}

/* marig top */
.margintop20{
	margin-top:30px;
}


.margintop30{
	margin-top:30px;
}

.margintop50{
	margin-top: 50px;
}

.margintop60{
	margin-top: 60px;
}

.margintop80{
	margin-top: 80px;
}

/* margin bottom */
.marginbottom30{
	margin-bottom:30px;
}

.marginbottom60{
	margin-bottom:60px;
}

.marginbottom80{
	margin-bottom:80px;
}

.marginauto{
	margin-left:auto;
	margin-right:auto;
}

/* pading top */
.paddingtop30{
	padding-top:30px;
}

.paddingtop40{
	padding-top:40px;
}

.paddingtop50{
	padding-top:50px;
}

.paddingtop60{
	padding-top:60px;
}

/* padding bottom */
.paddingbottom30{
	padding-bottom:30px;
}

.paddingbottom40{
	padding-bottom:40px;
}


.paddingbottom50{
	padding-bottom:50px;
}


.paddingbottom60{
	padding-bottom:60px;
}



/* margin and padding when it is xs */
@media (max-width:767px){
	.margintop30, .margintop50, .margintop60, .margintop80{
		margin-top:0px;
	}
	.margintop50-xs{
		margin-top:20px;
	}
	.margintop30-xs{
		margin-top:30px;
	}
	.margintop40-xs{
		margin-top:40px;
	}
	.margintop20-xs{
		margin-top:20px;
	}
	.margintop10-xs{
		margin-top:10px;
	}

	.marginbottom30{
		margin-bottom:0px;
	}

	.marginbottom20-xs{
		margin-bottom:20px;
	}

	.paddingtop30, .paddingtop40, .paddingtop50, .paddingtop60{
		padding-top:0px;
	}
	.paddingbottom30, .paddingbottom40, .paddingbottom50, .paddingbottom60{
		padding-bottom:0px;
	}
	.paddingtop30-xs{
		padding-top:30px
	}
	.paddingtop20-xs{
		padding-top:20px
	}
	.paddingtop10-xs{
		padding-top:10px
	}
	.paddingbottom30-xs{
		padding-bottom:30px;
	}
	.paddingbottom20-xs{
		padding-bottom:20px;
	}
	.paddingbottom10-xs{
		padding-bottom:10px;
	}

}
.col-centered{
	float:none;
	margin:0 auto;
}

.img-responsive.minmax {
	min-width: 100%;
	position: relative;
	min-height: 1px;
}

.bgcolorblk{
	background-color: $footer-bg;
}

.content-title{
	text-align:center;
	.semi_title{
		font-size:35pt;
	}
	.sub_title{
		font-size:13pt;
	}
	@include responsive(xs){
		.semi_title{
			font-size:23pt;
		}
		.sub_title{
			font-size:9pt;
		}
	}
}
.content-border{
	border-top: 1px solid black;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	border-bottom:1px solid lightgray;
}

.content-border1{
	border-top: 3px solid black;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	border-bottom:1px solid lightgray;
}
.content-border2{

	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	border-bottom:1px solid lightgray;
}

.main{
	div{
		padding:0px;
	}
	img{
		padding:0px;
	}
}

footer{
	ul{
		padding:0px;
		list-style-type:none;
		display:inline;
	}
}

.left-navbar {
	min-height: 1px;
	float: left;
}

.base-center {
	position: relative;
	min-height: 1px;
	width: 100%;
	float: left;
	@include responsive(md){
		margin-left: 14%;
		width: 82.5%;
	}
}

.right-navbar {
	position: relative;
	min-height: 1px;
	width: 3.5%;
	float: left;
}
footer{
	.footer_nav>li>a{
		font-size:6pt;
		position:relative;
		display:block;
		color:#fefefe;
		padding:10px 0px;
		text-decoration: none;
	}
	.footer_nav{
		li{
			float:left;
			position:relative;
			display:block;
		}
		list-style:none;
		display:inline-block;
		float: none;
		margin:0px;
	}



	.vertical-bar{
		margin-top:1px;
		vertical-align: top;
		display:inline-block;
		margin-left:15px;
		margin-right:15px;
		width:1px;
		background-color:#fefefe;
		height:8px;
	}
}
