html, body{
	width:100%;
}
.no-padding {
	padding: 0;
}

.no-padding-l {
	padding: 0;
}

.no-padding-r {
	padding: 0;
}

.no-padding-lr {
	padding: 0;
}

.no-padding-t {
	padding: 0;
}

.no-padding-b {
	padding: 0;
}

.no-padding-tb {
	padding: 0;
}

.margintop30{
	margin-top:30px;
}

.margintop50{
	margin-top: 50px;
}

.margintop60{
	margin-top: 60px;
}

.margintop80{
	margin-top: 80px;
}

.marginb30{
	margin-bottom:30px;
}

.marginb60{
	margin-bottom:60px;
}

.marginb80{
	margin-bottom:80px;
}

.marginauto{
	margin-left:auto;
	margin-right:auto;
}

.bgcolorblk{
	background-color: $footer-bg;
}

.content-title{
	text-align:center;
	.semi_title{
		font-size:35pt;
	}
	.sub_title{
		font-size:13pt;
	}
}

.content-border{
	border-top:3px solid black;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	border-bottom:1px solid lightgray;
}

.img-responsive.minmax {
		min-width: 100%;
		position: relative;
		min-height: 1px;
	}

.main{
	div{
		padding:0px;
	}
	img{
		padding:0px;
	}
}

footer{
	ul{
		padding:0px;
		list-style-type:none;
		display:inline;
	}
}
