{% extends "../detailpage.html" %}
{% load staticfiles %}

{% block semi_title %}
라떼필
{% endblock %}

{% block sub_title %}
필링/재생
{% endblock %}

{% block main %}
	<img src="{% static 'img/peeling/latte1.jpg' %}" class="img-responsive minmax">
{% endblock %}

{% block mainsm %}
	<img src="{% static 'img/peeling/latte1s.jpg' %}" class="img-responsive">
{% endblock %}


{% block detail %}
	<img src="{% static 'img/peeling/latte2.jpg' %}" class="img-responsive minmax">
{% endblock %}

{% block detailsm %}
	<img src="{% static 'img/peeling/latte2s.jpg' %}" class="img-responsive">
{% endblock %}
