{% extends "base.html" %}

{% block content %}
<div class="container-fluid no-padding-xs">
	<div class="col-sm-38 col-sm-offset-2 col-xs-42 content-title margintop50">
		<div class="semi_title">
		{% block semi_title %}{% endblock %}
		</div>
		<div class="sub_title marginb30">
		{% block sub_title %}{% endblock %}
		</div>
	</div>

	<div class="col-sm-38 col-sm-offset-2 col-xs-42 content-border marginb60">
		<div class="row hidden-xs margintop60 marginb60">
		{% block main %} {% endblock %}
		</div>
		<div class="row visible-xs margintop60 marginb60">
		{% block mainsm %} {% endblock %}
		</div>
		<div class="row margintop30 marginb30">
		{% block common %} {% endblock %}
		</div>
		<div class="row hidden-xs margintop60 ">
		{% block detail %} {% endblock %}
		</div>
		<div class="row visible-xs margintop60">
		{% block detailsm %} {% endblock %}
		</div>

	</div>
</div>
{% endblock content %}
