{% extends "base.html" %}

{% block content %}
<div class="container-fluid no-padding-xs">
	<div class="col-lg-42 col-lg-offset-0 col-sm-38 col-sm-offset-2 col-xs-42 content-title margintop50 margintop10-xs">
		<div class="semi_title">
		{% block semi_title %}{% endblock %}
		</div>
		<div class="sub_title marginb30">
		{% block sub_title %}{% endblock %}
		</div>
	</div>

	<div class="col-sm-38 col-sm-offset-2 col-xs-42 margintop30">
		<div class="row hidden-xs">
		{% block main %} {% endblock %}
		</div>
		<div class="row visible-xs">
		{% block mainsm %} {% endblock %}
		</div>
		{% if map %}
			<div class="row margintop30">
			{% block common %} {% endblock %}
			</div>
		{% endif %}
		<div class="row hidden-xs marginbottom60">
		{% block detail %} {% endblock %}
		</div>
		<div class="row visible-xs marginbottom60">
		{% block detailsm %} {% endblock %}
		</div>

	</div>
</div>
{% endblock content %}
