{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid main" style="padding:0px;">
	<div class="row">
		<div class="col-md-42 col-sm-42">
			<div class="col-md-42 col-sm-42 " style="width: 69.37%;">
        {% include 'main_imgslider2.html' %}
    	</div>

			<div class="col-md-42 col-sm-42 " style="width: 30.63%">
				<img src="{% static 'img/main/visual4.jpg' %}" class="img-responsive minmax">
			</div>
		</div>
		<div class="col-md-42 col-sm-42">
			<div class="col-md-42" style="width: 69.37%">
				<img src="{% static 'img/main/visual5.jpg' %}" class="img-responsive col-md-14 col-sm-14">
				<img src="{% static 'img/main/visual6.jpg' %}" class="img-responsive col-md-14 col-sm-14">
				<img src="{% static 'img/main/visual7.jpg' %}" class="img-responsive col-md-14 col-sm-14">
			</div>
			<div class="col-md-42 col-sm-42" style="width: 30.63%">
				{% include 'main_imgslider3.html' %}
			</div>
		</div>
	</div>
</div>

{% endblock %}

