{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid main" style="padding:0px;">
		<div class="col-sm-42 col-xs-42">
			<div class="col-sm-42 col-xs-42 md69">
        {% include 'main_imgslider2.html' %}
    	</div>

			<div class="col-sm-42 md30 hidden-xs">
				<img src="{% static 'img/main/visual4.jpg' %}" class="img-responsive minmax">
			</div>
		</div>
		<div class="col-sm-42 col-xs-42">
			<div class="col-sm-42 md69">
				<img src="{% static 'img/main/visual5.jpg' %}" class="img-responsive col-sm-14 col-xs-14">
				<img src="{% static 'img/main/visual6.jpg' %}" class="img-responsive col-sm-14 col-xs-14">
				<img src="{% static 'img/main/visual7.jpg' %}" class="img-responsive col-sm-14 col-xs-14">
			</div>
			<div class="col-xs-42 visible-xs" style="display:none;">
				<img src="{% static 'img/main/visual4_s.jpeg' %}" class="img-responsive">
			</div>
			<div class="col-sm-42 hidden-xs md30">
				{% include 'main_imgslider3.html' %}
			</div>
			<div class="col-xs-42 visible-xs" style="display: none;">
				{% include 'main_imgslider4.html' %}
			</div>
		</div>
</div>

{% endblock %}

