{% extends "detailpage.html" %}
{% load staticfiles %}

{% block main %}
	<img src="{% static 'img/whitening/legato1.jpeg' %}" class="img-responsive">
{% endblock %}

{% block mainsm %}
	<img src="{% static 'img/whitening/legato1s.jpeg' %}" class="img-responsive">
{% endblock %}

{% block pill %}

{% endblock pill %}

{% block detail %}
	<img src="{% static 'img/whitening/legato2.jpeg' %}" class="img-responsive">
{% endblock %}

{% block detailsm %}
	<img src="{% static 'img/whitening/legato2s.jpeg' %}" class="img-responsive">
{% endblock %}
